stable-baselines3==2.0.0
alpaca-trade-api==3.0.0
pandas==1.5.3
pandas-ta==0.3.14b0
numpy==1.23.5
gym==0.21.0
matplotlib==3.5.3
plotly==5.13.1
python-dotenv==1.0.0
fastapi==0.95.2
uvicorn==0.22.0
tensorflow-cpu==2.11.0
torch==1.13.1
cloudpickle==2.2.1
gymnasium==0.28.1